.post {
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 4px 30px 0 rgba(44, 19, 97, 0.1);
}

.post__heading {
  font-size: 16px;
  font-weight: 600;
}

.post__text {
  font-size: 16px;
  margin-top: 10px;
}

.post__action-el {
  margin-top: 10px;
}
